@tailwind base;
@tailwind components;
@tailwind utilities;

/* Smooth scrolling configuration */
html {
  scroll-behavior: smooth;
}

/* Custom minimal scrollbar variables for logs layout */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #334155;
  border-radius: 9999px;
}
::-webkit-scrollbar-thumb:hover {
  background: #475569;
}